* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
    margin-left: 0;
    transition: margin-left 0.3s ease;
}


.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: transform 0.3s ease;
    /* overflow:内容溢出时的处理 */
    overflow: hidden;
    z-index: 1000;
    scroll-behavior: auto;

}


.sidebar.sidebar-hidden {
    transform: translate(-100%);
    flex-basis: 0;
}

.bar-header {
    padding: 12px 16px;
    background-color: #444;
}

.logo {
    width: 32px;
    height: 32px;
    background-color: #555;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.bar-menu {
    padding: 12px 0 0 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    color: #fff;
    text-decoration: none;

}

.nav-item:hover{
    background-color: #444;
}

.nav-item.active {
    background-color: #827f7f;
    font-weight: bold;
}


.submenu{
    display: none;
}

.show{
    display: inline-block;
}

.sub{
    display: flex;
    align-items: center;
    padding: 5px 30px;
    color: #f7efd1;
    background-color: #363434;
}

.nav-text{
    margin-left: 15px;
}

.overlay {
    /* position: relative; */
    flex: 1;
    /* width: 50%; */
    margin-left: 200px;
    padding: 20px;
    background-color: #eaeaea;
    overflow: hidden;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
}

.overlay.overlay-expanded {
    margin-left: 0;
}

.page {
    display: none;
    /* flex: 2; */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* min-height: 100vh; */
    width: 100%;
    overflow-y:auto;
    height: 100%;
    scroll-behavior: auto;

}

.page.active {
    display: inline-block;
}

#collapseBtn {
    position: absolute;
    float: left;
    top: 50%;
    left: 190px;
    padding: 10px 0%;
    /* cursor: 显示鼠标移动到此元素时鼠标的样式 */
    cursor: pointer;
    color: skyblue;
    background-color: #484e53;
    border: none;
    border-radius: 0 4px 4px 0;
    transition: all 0.3s ease;
}
#collapseBtn:hover {
    background-color: #555;
}
#collapseBtn.container-shifted{
    left: 0;
}

.content1 h1{
    padding: 20px;
    height: auto;
    text-align: center;
}

.content1 p{
    padding: 20px;
    line-height: 1.6;
    text-align: center;
    font-size: 18px;
    background-color: #eef5f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2, 0.1);
    border-radius: 4px;
    max-width: 80%;
    margin: auto;
    /* align-self: center; */
}
